.nav1{
    background-color: #f8f1e5;
    box-shadow: 0px 3px 3px black;
}
.nav-item{
    width: 150px;
    font-family: 'montserrat';
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    transition: 0.5s ease-in all;
    margin: 5px;
}
.nav-link{
    color: #800000;
    transition: 0.5s ease-in all !important;
}
.nav-item:hover{
    background-color: #0369dd;
    box-shadow: 2px 2px 2px black;
}
.nav-item:hover .nav-link{
    color: #f8f1e5;
}
.active1{
    background-color: #50c878 !important;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}
.dropdown-menu{
    background-color: #f8f1e5 !important;
}
.dropdown-menu a{
    transition: 0.5s ease-in all;
}
.dropdown-menu a:hover{
    background-color: #0369dd;
    color: #f8f1e5;
}
.pmd{
    font-family: 'dm serif text';
    background-color: #50c878;
    color: #800000;
    padding: 5px;
    padding-right: 5px;
    border-radius: 10px 5px 0 0;
    font-size: 18px;
    box-shadow: -2px 2px 1px black;
    transition: 0.5s ease all;
}
.rt03{
    position: absolute;
    margin-top: 5px;
    font-family: 'bebas neue';
    background-color: #0369dd;
    color: #f8f1e5;
    padding: 5px;
    margin-left: 0;
    font-size: 18px;
    box-shadow: -2px -2px 1px black;
    border-radius: 0 0 10px 5px;
    transition: 0.5s ease all;
}
.navbar-brand:hover .pmd, 
.navbar-brand:hover .rt03{
    padding: 10px;
}

.brnd1{
    margin-top: 88px;
    background-image: url(img/20250104_202217.jpg);
    height: 700px;
    background-size: cover;
    background-position: 20%;
    box-shadow: 0px 5px 5px black;
}
.brnd1 .container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    width: 60%;
}
.brnd1 h1{
    font-family: 'dm serif text';
    color: #f8f1e5;
    text-shadow: 2px 2px 4px black;
}
.brnd1 p{
    color: white;
    font-family: 'montserrat';
    font-size: 14px;
}

.bngks-banner{
    display: flex;
    justify-content: center;
    margin-top: -200px;
}
.banner{
    width: 100%;
    display: flex;
    justify-content: center;
}
.banner video{
    height: max-content;
    width: 20%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    border: 2px solid black;
}

.kgtn-trbr{
    background-color: #f8f1e5;
    padding: 10px;
}
.kgtn-trbr .container .bngks{
    display: flex;
}
.isi-kgtn-trbr{
    display: flex;
    margin: 10px;
    border: 1px solid #0369dd;
    border-radius: 10px;
    width: 50%;
    font-family: 'montserrat';
    padding: 10px;
}
.isi-kgtn-trbr a{
    background-color: #800000;
    color: #f8f1e5;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    letter-spacing: -1px;
    transition: 0.5s all ease;
}
.isi-kgtn-trbr a:hover{
    padding: 10px;
    background-color: #50c878;
    color: #f8f1e5;
}
.isi-kgtn-trbr h2{
    font-weight: 600;
    font-family: 'dm serif text';
}
.isi-kgtn-trbr p{
    width: 80%;
}
.isi-kgtn-trbr img{
    height: 250px;
    padding-right: 20px;
    border-radius: 10px;
    transition: 1s ease all;
}
.isi-kgtn-trbr img:hover{
    transform: scale(1.05);
}
.kgtn-trbr h1{
    font-family: 'dm serif text';
    color: #800000;
}
.kgtn-trbr button{
    background-color: #800000;
    font-family: 'montserrat';
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
    letter-spacing: -1px;
    transition: 0.5s ease all;
}
.kgtn-trbr button a{
    color: #800000;
    text-decoration: none;
}
.kgtn-trbr button:hover{
    padding: 10px;
    background-color: #50c878;
}
.kgtn-trbr button a{
    color: #f8f1e5;
}

.dpn-artikel h1{
    font-family: 'dm serif text';
}
.artikel{
    display: flex;
    justify-content: center;
    height: max-content;
}
.plhn-artikel{
    background-color: #f8f1e5;
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'bebas neue';
    transition: 0.5s ease all;
}
.plhn-artikel:hover{
    background-color: #50c878;
    transform: scale(1.05);
}
.artikel:hover > :not(:hover){
    filter: brightness(50%);
    padding: 5px;
}
.plhn-artikel a{
    text-decoration: none;
    color: #800000;
}
.plhn-artikel img{
    width: 90%;
    margin-top: 10px;
}

.dpn-produk{
    background-color: #f8f1e5;
    padding: 20px;
    font-family: 'dm serif text';
}
.dpn-produk h4, p, a{
    font-family: 'montserrat';
}
.dpn-produk p{
    font-size: 16px;
}
.dpn-produk .container .brnd-produk{
    display: flex;
}
.pilihan-produk{
    background-color: #cbf7cb;
    border: 1px #800000 solid;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.pilihan-produk img{
    width: 50%;
}
.dpn-produk button{
    background-color: #0369dd;
    border: 0;
    font-family: 'montserrat';
    border-radius: 5px;
    padding: 5px;
    color: #f8f1e5;
    transition: 0.5s ease all;
}
.dpn-produk button:hover{
    background-color: #800000;
    transform: scale(1.1);
    color: #f8f1e5;
}
.dpn-produk a{
    color: #f8f1e5;
    text-decoration: none;
}

footer{
    padding-top: 10px;
    border-top: 1px solid gainsboro;
}
footer p{
    font-family: 'montserrat';
    font-size: 14px;
}
footer img{
    width: 20px;
    margin-right: 10px;
}

.smbtn .container{
    display: flex;
    margin-top: 90px;
}
.smbtn img{
    width: 500px;
    height: 300px;
    object-fit: cover;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
.smbtn div{
    margin: 20px;
}
.smbtn h1{
    font-family: 'dm serif text';
}
.smbtn h3{
    font-family: 'montserrat';
}
.smbtn p{
    font-family: 'roboto';
}

.tujuan{
    background-color: #f8f1e5;
    padding: 10px;
}
.tujuan .container{
    display: flex;
    justify-content: center;
}
.tujuan img{
    width: 40%;
    margin: 20px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(70%)
    contrast(110%);
    box-shadow: -3px 2px 2px black;
}
.tujuan .container div{
    margin: 10px;
    font-family: 'dm serif text';
}
.tujuan ul span{
    width: 20px;
    height: 20px;
    background-color: #800000;
}
.tujuan ul{
    list-style: none;
    padding-left: 0;
}
.tujuan li{
    position: relative;
    padding-left: 35px !important;
    margin: 20px;
    font-size: 14px;
    font-family: 'roboto';
    background-color: #cbf7cb;
    color: #800000;
    border-radius: 10px;
    padding: 5px;
    transition: all ease 0.5s;
}
.tujuan li:hover{
    transform: scale(1.05);
}
.tujuan .tjn-1::before{
    position: absolute;
    width: 25px;
    height: 25px;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url(img/1.png);
    background-size: cover;
    background-color: #50c878;
    border-radius: 50%;
    box-shadow: 2px 2px 0px black;
}
.tujuan .tjn-2::before{
    position: absolute;
    width: 25px;
    height: 25px;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url(img/2.png);
    background-size: cover;
    background-color: #50c878;
    border-radius: 50%;
    box-shadow: 2px 2px 1px black;
}

.tujuan .tjn-3::before{
    position: absolute;
    width: 25px;
    height: 25px;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url(img/3.png);
    background-size: cover;
    background-color: #50c878;
    border-radius: 50%;
    box-shadow: 2px 2px 1px black;
}

.tujuan .tjn-4::before{
    position: absolute;
    width: 25px;
    height: 25px;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url(img/4.png);
    background-size: cover;
    background-color: #50c878;
    border-radius: 50%;
    box-shadow: 2px 2px 1px black;
}

.tujuan .tjn-5::before{
    position: absolute;
    width: 25px;
    height: 25px;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url(img/5.png);
    background-size: cover;
    background-color: #50c878;
    border-radius: 50%;
    box-shadow: 2px 2px 1px black;
}

.anggota .container{
    display: flex;
    font-family: 'dm serif text';
}
.dftr-anggota{
    margin: 10px;
    text-align: center;
    background-color: #cbf7cb;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 0 5px black;
    transition: 0.5s ease all;
}
.dftr-anggota:hover{
    transform: scale(1.05);
}
.anggota img{
    width: 65%;
    object-fit: cover;
    border-radius: 10px;
}

.awl-program{
    margin-top: 90px;
    margin-bottom: 20px;
}
.awl-program .container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.awl-program .video-background{
    width: 40% ;
}
.awl-program div{
    align-self: center;
    font-family: 'dm serif text';
}
.awl-program h1{
    font-size: 48px;
}
.awl-program p{
    font-family: 'montserrat';
    color: black;
    background-color: rgba(255, 255, 255, 0.534);
    padding: 5px;
    border-radius: 10px;
}

.program{
    margin-bottom: 20px;
}
.program .container .bngks-program{
    display: flex;
}
.program .container .bngks-program{
    display: none; /* Default semua produk disembunyikan */
}
.program .container .bngks-program.visible {
    display: flex; /* Produk ditampilkan jika kelas 'visible' ada */
}
.program .container .bngks-program:nth-child(-n+2) {
    display: flex; /* Selalu tampilkan 3 produk pertama */
}
.program h1{
    font-size: 48px;
    font-family: 'dm serif text';
}
.program button{
    background-color: #cbf7cb;
    font-family: 'roboto';
    letter-spacing: -0.5px;
    border: 1px solid #0369dd;
    color: #800000;
    padding: 8px;
    transition: 0.5s ease all;
    border-radius: 10px;
}
.program button:hover{
    background-color: #800000;
    color: #f8f1e5;
    border: 1px solid #800000;
    padding: 10px !important;
}

.awl-kontak{
    margin-top: 90px;
}
.awl-kontak .container{
    display: flex;
    justify-content: space-evenly;
}
.awl-kontak .video-background{
    width: 40%;
}
.awl-kontak .kata-awl-kontak{
    align-self: center;
    font-family: 'dm serif text';
    width: 45%;
}
.kata-awl-kontak h1{
    font-size: 48px;
}

.kntk1{
    background-color: #cbf7cb;
    padding-bottom: 5px;
}
.kntk1 h1{
    font-size: 42px;
    font-family: 'dm serif text';
    padding-top: 10px;
}
.kntk1 .container{
    display: flex;
    align-content: space-evenly;
}
.kntk1 a{
    color: #0369dd;
    margin: 15px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    background-color: #f8f1e5;
    border: 1px solid #800000;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    transition: 0.5s ease all;
}
.kntk1 a:hover{
    background-color: #50c878;
    scale: 1.1;
    color: #800000;
}
.kntk1 a h2{
    font-size: 32px;
    font-weight: 550;
    font-family: 'kanit';
}
.kntk1 a p{
    font-size: 15px;
}
.kntk1 img{
    width: 30%;
}

.kntk2{
    background-color: #f8f1e5;
    padding: 20px;
}
.kntk2 h1{
    font-family: 'dm serif text';
}
.kntk2 .container{
    display: flex;
    align-content: space-evenly;
}
.kntk2 .form-kntk{
    width: 70%;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
.kntk2 form{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 10px;
}
.kntk2 form section{
    display: flex;
    flex-direction: column;
    margin: 10px;
    position: relative;
    width: 100%;
    align-items: center;
}
.kntk2 .form-kntk div{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.kntk2 .form-kntk div section{
    display: flex;
    position: relative;
    margin: 5px;
    width: 50%;
}
.kntk2 .form-kntk img{
    display: none;
}
.kntk2 input{
    width: 100%;
    padding: 10px;
    border: 1px solid #0369dd;
    outline: none;
    font-size: 16px;
    font-family: 'montserrat';
    transition: 0.5s all;
    border-radius: 10px;
    box-shadow: 2px 2px 1px black;
}
.kntk2 input:valid,
.kntk2 input:focus{
    border: 1px solid #800000;
    box-shadow: -2px 2px 1px black;
}
.kntk2 input:valid ~ label,
.kntk2 input:focus ~ label{
    color: #800000;
    transform: translateX(10px) translateY(-11px);
    padding: 0 5px;
    font-size: 14px;
    background-color: white;
    border-left: 1px solid #800000;
    border-right: 1px solid #800000;
    letter-spacing: 1px;
}
.kntk2 label{
    font-family: 'kanit';
    position: absolute;
    left: 0;
    padding: 10px;
    color: #0369dd;
    transition: 0.5s all;
}
.kntk2 .inputan{
    width: 97.7%;
    margin: 10px;
    margin-right: 20px;
}
.kntk2 textarea{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #0369dd;
    outline: none;
    font-size: 16px;
    font-family: 'montserrat';
    box-shadow: 2px 2px 1px black;
    transition: 0.5s all;
}
.kntk2 textarea:valid,
.kntk2 textarea:focus{
    border: 1px solid #800000;
    box-shadow: -2px 2px 1px black;
}
.kntk2 textarea:valid ~ label,
.kntk2 textarea:focus ~ label{
    color: #800000;
    transform: translateX(10px) translateY(-11px);
    padding: 0 5px;
    font-size: 14px;
    background-color: white;
    border-left: 1px solid #800000;
    border-right: 1px solid #800000;
    letter-spacing: 1px;
}
.kntk2 button{
    border-radius: 10px;
    border: 1px solid #0369dd;
    text-transform: uppercase;
    background-color: #f8f1e5;
    width: 30%;
    font-size: 16px;
    color: #800000;
    font-weight: 600;
    padding: 5px;
    box-shadow: 2px 2px 1px black;
    transition: 0.5s all;
}
.kntk2 button:hover{
    background-color: #0369dd;
    color: #cbf7cb;
    border: 1px solid #f8f1e5;
    box-shadow: -2px 2px 1px black;
}
.kntk2 .medsos{
    width: 30%;
    margin: 10px;
    background-color: #cbf7cb;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}
.kntk2 .medsos h3{
    font-weight: 500;
    font-family: 'dm serif text';
}
.kntk2 .medsos div{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
}
.kntk2 .medsos a{
    text-decoration: none;
    background-color: #f8f1e5;
    border-radius: 10px;
    margin: 5px;
    width: fit-content;
    padding: 5px;
    color: #800000;
    transition: 0.5s linear all;
}
.kntk2 .medsos a:hover{
    scale: 1.05;
    background-color: #0369dd;
}
.kntk2 .medsos img{
    width: 10%;
    margin-right: 5px;
}

.bngks-galeri h1{
    font-family: 'dm serif text';
}
.bngks-galeri{
    padding-top: 100px !important;
    font-family: 'montserrat';
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bngks-galeri .galeri{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    margin: 20px;
}
.galeri .gallery-item {
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
}
.gallery-item video, .gallery-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    border: 2px solid #ddd;
    border-radius: 8px;
}
.gallery-item:hover video, .gallery-item:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}
.modal-content {
    max-width: 35%;
    max-height: 90%;
    position: relative;
} 
.video-duration {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 5px;
}
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.download-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: #0369dd;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s ease all;
}
.download-btn:hover {
    background: #800000;
    scale: 1.05;
}

.awl-isramiraj{
    margin-top: 10%;
    text-align: center;
}
.awl-isramiraj img{
    width: 60%;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 2px 2px 2px black;
    margin: 20px;
}
.tgh-isramiraj{
    display: flex;
}
.tgh-isramiraj .img-isramiraj{
    width: 70%;
    height: 480px;
    background-image: url(img/hijau\ biru\ ilustrasi\ bazzar\ umkm\ poster.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
/* accordion */
.accordion-full{
    font-family: 'dm serif text';
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.accordion-container {
    gap: 20px;
    width: 100%; /* Atur lebar total container */
    justify-content: center;
  }
  .accordion {
    border: solid 2px black;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    background-color: #FBFBFB;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
  }
  .accordion-header span{
    padding-left: 5px;
  }
  .accordion-header {
    background-color: #800000;
    color: white;
    cursor: pointer;
    padding: 15px;
    border: none;
    align-items: center;
    display: flex; /* Gunakan Flexbox */
    outline: none;
    transition: background-color 0.5s ease;
    font-size: 16px;
    width: 100%;
  }
  .accordion-header:hover {
    background-color: white;
    color: black;
  }
  .accordion-header:hover .drop{
    transform: rotate(90deg);
  }
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    color: black;
    background-color: #FBFBFB;
    padding: 0 15px;
    text-align: left;
    transition: max-height 0.5s ease;
    font-family: 'montserrat';
  }
  .accordion-content p, ul{
    margin: 0;
    padding: 15px 0;
  }
  .drop{
    transition: all 1s;
    font-weight: 900;
    transform: rotate(270deg) translateX(-3px);
    display: inline-block;
  }

  .file-isramiraj .accordion-content div{
    display: flex;
  }
  .file-isramiraj li{
    padding: 2px;
  }
  .file-isramiraj a{
    color: #024188;
  }

@media (max-width: 992px){
    .nav-item{
        width: 100%;
    }
    .brnd1{
        background-image: url(img/1735992263705.jpg);
        height: 500px;
    }
    .brnd1 .container{
        top: 30%;
        transform: translate(-50%, -30%);
    }

    .banner video{
        width: 30%;
    }

    .isi-kgtn-trbr h2{
        font-size: 24px;
    }
    .isi-kgtn-trbr p{
        font-size: 14px;
    }
    .isi-kgtn-trbr img{
        height: 200px;
        align-self: center;
    }
    .isi-kgtn-trbr a{
        font-size: 14px;
    }

    .plhn-artikel h2{
        font-size: 22px;
    }

    .pilihan-produk img{
        width: 80%;
        margin: 5px;
    }
    .pilihan-produk p{
        font-size: 14px;
    }
    .pilihan-produk h4{
        font-size: 18px;
    }

    .dftr-anggota h4{
        font-size: 18px !important;
    }
    .dftr-anggota p{
        font-size: 14px !important;
    }
    .anggota img{
        width: 100%;
    }

    .program h1{
        font-size: 40px;
    }

    .kntk1 .container{
        flex-direction: column;
    }
    .isi-kntk1{
        width: 100% !important;
    }
    .isi-kntk1 h2{
        font-size: 20px;
    }

    .awl-isramiraj img{
        width: 100%;
        margin: 0px;
        margin-bottom: 10px;
    }
    .tgh-isramiraj .img-isramiraj{
        width: 150%;
    }
    .file-isramiraj{
        margin-top: -90px;
    }
}

@media (max-width: 500px){
    .brnd1 h1{
        font-size: 38px;
    }
    .brnd1 p{
        backdrop-filter: brightness(50%);
        padding: 10px;
        border-radius: 10px;
    }

    .banner{
        margin-top: 100px;
        margin-bottom: -20px;
    }
    .banner video{
        width: 50%;
    }

    .kgtn-trbr .container .bngks{
        flex-direction: column;
    }
    .isi-kgtn-trbr{
        flex-direction: column;
        width: 100%;
    }
    .isi-kgtn-trbr img{
        border-radius: 0;
    }
    .isi-kgtn-trbr div{
        padding-left: 20px;
        margin-top: 5px;
    }

    .artikel{
        flex-direction: column;
    }
    .plhn-artikel{
        margin: 5px;
    }

    .brnd-produk{
        flex-direction: column;
        padding-bottom: 15px;
    }
    .pilihan-produk{
        margin: 5px;
        padding: 10px;
    }

    .smbtn .container{
        flex-direction: column;
    }
    .smbtn div{
        margin: 0;
        margin-top: 10px;
    }
    .smbtn img{
        margin-bottom: 10px;
        margin: 0;
        width: 100%;
    }
    .smbtn h1{
        font-size: 32px !important;
    }

    .tujuan .container{
        flex-direction: column;
    }
    .tujuan img{
        width: 100%;
        margin: 0;
        margin-top: 15px;
    }
    .tujuan div{
        margin: 0;
    }
    .tujuan h1{
        font-size: 32px !important;
    }
    .tujuan ul{
        margin: 0;
    }
    .tujuan li{
        margin-left: 0;
        font-size: 14px;
        margin: 5px;
        width: 100%;
    }

    .anggota .container{
        flex-direction: column;
    }
    .anggota img{
        width: 60%;
        height: 200px !important;
    }
    .anggota h1{
        font-size: 32px !important;
    }
    .anggota h4{
        font-size: 28px !important;
    }

    .awl-program .video-background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: max-content;
        z-index: -1;
        overflow: hidden;
        margin-top: 90px;
    }
    .awl-program video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .kata-awl-program{
        position: relative;
        top: 50%;
        text-align: center;
        transform: translateY(-50%);
        z-index: 1;
        color: white;
        backdrop-filter: brightness(50%)
        blur(1px);
        padding: 10px;
        margin-top: 50%;
        border-radius: 10px;
    }
    .kata-awl-program h1{
        font-size: 32px;
    }
    .kata-awl-program p{
        font-size: 14px;
    }

    .program .bngks-program{
        margin-right: 20px;
        flex-direction: column;
    }
    .program .isi-kgtn-trbr{
        padding: 5px;
    }
    .program .isi-kgtn-trbr div{
        margin-left: 5px;
    }

    .awl-kontak .video-background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: max-content;
        z-index: -1;
        overflow: hidden;
        margin-top: 90px;
    }
    .awl-kontak video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .kata-awl-kontak{
        position: relative;
        top: 50%;
        text-align: center;
        transform: translateY(-50%);
        z-index: 1;
        color: white;
        backdrop-filter: brightness(50%)
        blur(1px);
        padding: 10px;
        margin-top: 50%;
        border-radius: 10px;
    }
    .kata-awl-kontak h1{
        font-size: 32px;
    }
    .kata-awl-kontak p{
        font-size: 14px;
    }

    .kntk1 .container a{
        width: 80% !important;
        align-self: center;
    }
    .kntk1 h1{
        font-size: 32px;
    }
    .kntk1 .container a h2{
        font-size: 20px;
    }
    .kntk2 .container{
        flex-direction: column;
    }
    .kntk2 .container .form-kntk, .kntk2 .container .medsos{
        width: 100%;
    }
    .kntk2 .container .form-kntk label{
        display: none;
    }
    .kntk2 .form-kntk img{
        display: block;
        font-family: 'kanit';
        position: absolute;
        left: 0;
        padding: 10px;
        color: #0369dd;
        transition: 0.5s all;
    }
    .kntk2 input:valid ~ img,
    .kntk2 input:focus ~ img{
        color: #800000;
        transform: translateX(10px) translateY(-11px);
        padding: 0 5px;
        width: 30px;
        background-color: white;
        border-left: 1px solid #800000;
        border-right: 1px solid #800000;
    }
    .kntk2 textarea:valid ~ img,
    .kntk2 textarea:focus ~ img{
        color: #800000;
        transform: translateX(10px) translateY(-11px);
        padding: 0 5px;
        width: 30px;
        background-color: white;
        border-left: 1px solid #800000;
        border-right: 1px solid #800000;
    }
    .kntk2 button{
        font-size: 16px !important;
        text-transform: capitalize;
        width: max-content;
    }
    .kntk2 .inputan{
        width: 93.5% !important;
    }
    .medsos img{
        width: 20%;
    }

    .bngks-galeri .galeri{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 10px;
        margin: 20px;
    }
    .gallery-item video, .gallery-item img {
        width: 100%;
        height: 100px;
    }
    .modal-content {
        max-width: 90%;
        max-height: 90%;
        position: relative;
    } 

    
    .tgh-isramiraj{
        display: block;
    }
    .tgh-isramiraj .img-isramiraj{
        display: inline-block;
        width: 80%;
        margin-top: -50px;
        margin-left: 30px;
        margin-bottom: -55px;
    }
    .accordion-full{
        margin: 0;
    }
    .accordion-container{
        font-size: 15px;
    }
    .awl-isramiraj{
        margin-top: 25%;
    }
    .file-isramiraj{
        margin-top: 5px;
    }
}